##Python Crash Course 1

**AGENDA**
- Introduction to Jupyter notebooks for Python
- Basic Syntax and Operation in Python
- Data Structures in Python
- Control Structures and functions in Python
- Two upgraded assignments (if time permits, otherwise take as homework)

In [ ]:
print("Hello World")

Hello World

In [ ]:
a = 5 + 6
print(a)

11

In [ ]:
a

11

In [ ]:
b = 7

In [ ]:
print(a+b)

18

### Basic Syntax and Opertaions in Python

In [ ]:
# Basic arithmetic operations such as +, -, *, %, **
a = 5 + 10.0
b = 19 - 6.0
c = 61 * 2
d = int(40) / int(5) # type casting to float
e = 12 % 10
f = 3.0 ** 3
str_val1 = 'h'
str_val2="hello"

In [ ]:
print('This is possible in "Python"')

This is possible in "Python"

In [ ]:
g = str(True)

In [ ]:
g

'True'

In [ ]:
print(str_val1+g)

hTrue

In [42]:
import numpy as np

time: 689 µs (started: 2024-04-14 13:15:07 +00:00)

In [ ]:
x = np.array([255], dtype=np.uint8)
x + 2

array([1], dtype=uint8)

In [ ]:
type(str_val1) == type(str_val2)

True

In [ ]:
# print -- inline comment
'''
Let's try differnt types of comments
-> This is example of multi line or block comments
'''
"""
/*   --- */
"""
print(a)
print(f"The value of b is {b}, c is {c}, d is {d}") # f string
print("The values of e and f are {} and {} respectively".format(e, f))

15.0
The value of b is 13.0, c is 122, d is 8.0
The values of e and f are 2 and 27.0 respectively

In [ ]:
print("The values of e and f are {} and {} respectively".format(e, f))

The values of e and f are 2 and 27.0 respectively

In [ ]:
str_var = "Now, this is a string variable"
var_ch1 = "N"
var_ch2 = 'N'
print(str_var)
bool_var = True
complex_var = 10 + 2j

Now, this is a string variable

In [ ]:
type(d)

float

In [ ]:
"""
Let's see basic data types in Python
"""
print(f"Type of variable a is: {type(a)}")
print(f"Type of variable d is: {type(d)}")
print(f"Type of variable str is: {type(str_var)}")

print(f"Type of variable var_ch1 is: {type(var_ch1)}")
print(f"Type of variable var_ch2 is: {type(var_ch2)}")

print(f"Type of variable (e,f,d) is: {type((e,f,d))}") # tuple
print(f"Type of variable bool_var is: {type(bool_var)}")
print(f"Type of variable complex_var is: {type(complex_var)}")

Type of variable a is: <class 'float'>
Type of variable d is: <class 'float'>
Type of variable str is: <class 'str'>
Type of variable var_ch1 is: <class 'str'>
Type of variable var_ch2 is: <class 'str'>
Type of variable (e,f,d) is: <class 'tuple'>
Type of variable bool_var is: <class 'bool'>
Type of variable complex_var is: <class 'complex'>

In [ ]:
# Taking input in Python
name = input("Enter your first name: ")
print(type(name))
print("Hey! " + name)

Enter your first name: Aditya
<class 'str'>
Hey! Aditya

In [ ]:
age = int(input("Enter your age: ")) # type casting

Enter your age: 12

In [ ]:
new = age + 1
name = input("Enter your name: ")
print(f"Hey! {name} Next year you will be {new}")

Enter your name: Aditya
Hey! Aditya Next year you will be 11

In [ ]:
type(age)

str

In [ ]:
age = input("Enter your age: ") # without type casting
new = age + "1" # String concat
name = input("Enter your name: ")
print(f"Hey! {name} Next year you will be {new}")

Enter your age: 10
Enter your name: Adi
Hey! Adi Next year you will be 101

### Data Structures in Python

In [ ]:
# This is a list
new_list = [1, 2.9, "string"]
print(type(new_list))

<class 'list'>

In [ ]:
new_list

[1, 2.9, 'string']

In [ ]:
# This is a tuple #mutable and immutable
new_tuple = (0, "string")
print(type(new_tuple))

<class 'tuple'>

In [40]:
!pip install ipython-autotime
%load_ext autotime

Collecting ipython-autotime
  Downloading ipython_autotime-0.3.2-py2.py3-none-any.whl (7.0 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-autotime) (7.34.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-autotime)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 8.0 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-autotime) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-autotime) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.13)
Installing collected packages: jedi, ipython-autotime
Successfully installed ipython-autotime-0.3.2 jedi-0.19.1
time: 542 µs (started: 2024-04-14 13:14:49 +00:00)

In [43]:
num_array = np.array([1, 2, 3])

time: 861 µs (started: 2024-04-14 13:15:13 +00:00)

In [50]:
num_array * 2.0 # broadcasting

array([2., 4., 6.])

time: 10.1 ms (started: 2024-04-14 13:17:42 +00:00)

In [46]:
num_list = [1, 2, 3]

time: 834 µs (started: 2024-04-14 13:15:49 +00:00)

In [51]:
for x in num_list:
  print(x*2)

2
4
6
time: 2.01 ms (started: 2024-04-14 13:18:25 +00:00)

In [ ]:
type(num_array)

numpy.ndarray

In [ ]:
new_tuple = (*new_tuple, 10)
new_tuple

(0, 'string', 10)

In [ ]:
type(new_tuple)

tuple

In [ ]:
my_list = [*new_list, 10]

In [ ]:
my_list

[1, 2.9, 'string', 10]

In [ ]:
new_list

[1, 2.9, 'string']

In [ ]:
# This is a dictionary -> key-value pairs
"""
dict = {
  key1 : "value1",
  key2: "value2"
}

"""
new_dict = { 1 : "Value1",
             2 : "Value2",
             3 : "Value2"
           }
print(new_dict)
print(type(new_dict))

{1: 'Value1', 2: 'Value2', 3: 'Value2'}
<class 'dict'>

In [ ]:
new_dict[2] #dict_var[key] = value

'Value3'

In [ ]:
{3 : new_dict[3]}

{3: 'Value3'}

In [ ]:
new_dict.keys()

dict_keys([1, 2, 3])

In [ ]:
list(new_dict.keys())

[1, 2, 3]

In [ ]:
list(new_dict.keys())[1]

2

In [ ]:
list(new_dict.keys())[list(new_dict.values()).index("Value2")]

2

In [ ]:
list(new_dict.values()).index("Value2")

1

In [ ]:
list(new_dict.keys())[list(new_dict.values()).index("Value2")] # finding key from value

2

In [ ]:
b

13.0

In [ ]:
# Dict of dict

nested_dict = { 1 : ("name1", "name2"),
             2 : [100, 111, 222],
             3 : {"a" : "dict_val1",
                  "b" : "dict_val2",
                  }
           }

print(nested_dict)
print(type(nested_dict))

{1: ('name1', 'name2'), 2: [100, 111, 222], 3: {'a': 'dict_val1', 'b': 'dict_val2'}}
<class 'dict'>

In [ ]:
print(len([1, 1, 4, 4, 4, 9, 9, 16, 25, 25, 25]))

11

In [ ]:
set([1, 1, 4, 4, 4, 9, 9, 16, 25, 25, 25])

{1, 4, 9, 16, 25}

In [ ]:
# This is a set
setA = set([1, 1, 4, 4, 4, 9, 9, 16, 25, 25, 25])
print(set("Hello"))
print(len(setA))
print(len([1, 1, 4, 4, 4, 9, 9, 16, 25, 25, 25]))
print(type(setA))

{'H', 'l', 'o', 'e'}
5
11
<class 'set'>

In [ ]:
set(new_dict.values())

{'Value1', 'Value2'}

In [ ]:
var_1 = None # ~ null
type(var_1)

NoneType

### Control Structures and functions in Python

In [ ]:
60 >= 60

True

In [ ]:
# if-elif-else
score = 60
grade = None
print(type(None))

if score >= 80: #if condition:
  grade = 'A'
elif score > 60:
  grade = 'B'
elif score > 40:
  grade = 'C'
else:
  grade = 'F'

print(grade)

<class 'NoneType'>
C

In [ ]:
for item in [1, 2, 3, 4, 5]:
  print(item)

1
2
3
4
5

In [ ]:
list(range(18, 25, 1))

[18, 19, 20, 21, 22, 23, 24]

In [ ]:
# loops
# for loops
#age = 20
#print(list(range(18, 25)))
i = 0
for item in range(18, 25, 2):
  print(item)
  i+=1 # i = i + 1
  break

print(f"Iteration: {i}")
print("finished")

18
Iteration: 1
finished

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
text = "Ice cream"
vowel_counter = 0

# for i in text:
for i in range(0, len(text)):
  if text[i].lower() in vowels: #instead of text[i] -> i => element is in a list
    vowel_counter += 1 #vc = vc + 1

print(vowel_counter)

4

In [ ]:
len(vowels)

5

In [ ]:
# while loops
a = 8
while (a > 5):
  print(f"{a} is greater than 5")
  a -=1

8 is greater than 5
7 is greater than 5
6 is greater than 5

In [ ]:
# List comprehension
num_list = [1, 2, 3, 7]
cube_list = [i**3 for i in num_list]
print(cube_list)

# conditionals in list comprehensions
even_cubes = [i**3 for i in num_list if i%2 == 0]
print(even_cubes)

sq_cubes = [i**3 if i%2==0 else i**2 for i in num_list ]
print(sq_cubes)

[1, 8, 27, 343]
[8]
[1, 8, 9, 49]

### Ungraded Assignments
1. Python program to print Fibonacci series of any input 'n'
2. Python program to check if a string is Palindrome or not

## Part 2

In [53]:
num_list = [1, 2, 3, 7]

time: 695 µs (started: 2024-04-14 13:25:25 +00:00)

In [57]:
# Functions
def my_func(i):
  if i%2 == 0:
    return i**3
  else:
    return i**2

time: 1.09 ms (started: 2024-04-14 13:28:05 +00:00)

In [59]:
print(my_func(5))

25
time: 800 µs (started: 2024-04-14 13:29:17 +00:00)

In [75]:
def my_func(i):
  a = 0
  if i%2 == 0:
    a = i**3
  else:
    a = i**2
  return {"a" : a}

time: 822 µs (started: 2024-04-14 13:38:02 +00:00)

In [76]:
output_func = my_func(5)
print(output_func)

{'a': 25}
time: 698 µs (started: 2024-04-14 13:38:03 +00:00)

In [69]:
output_func

time: 781 µs (started: 2024-04-14 13:35:37 +00:00)

In [62]:
# Functions
def my_func(i):
  if i%2 == 0:
    return i**3
  else:
    pass

for i in num_list:
  print(my_func(i))

None
8
None
None
time: 5.06 ms (started: 2024-04-14 13:32:12 +00:00)

In [82]:
# Lambda functions - is an anonymous function, which means that it is a function without a name.
transform_x = lambda x : x**3 if(x%2 == 0) else x**2

for i in num_list:
  print(transform_x(i))
  #print((lambda x : x**3 if(x%2 == 0) else x**2)(i))

1
8
9
49
time: 3.96 ms (started: 2024-04-14 13:43:01 +00:00)

In [83]:
# Map, Filter, Reduce
"""
Map is a function that works like list comprehensions and for loops.
It is used when you need to map or implement functions
on various elements at the same time.
"""
print("Transforming num_list using map function : ")
print(list(map(transform_x, num_list)))

Transforming num_list using map function :
[1, 8, 9, 49]
time: 1.74 ms (started: 2024-04-14 13:46:24 +00:00)

In [84]:
"""
Filter is a similar operation, but it requires the function to look for a condition
and then, only returns those elements from the collection that satisfy the condition.
"""
print("Extracting odd elements using filter : ", end="")
print(list(filter(lambda x: x%2 !=0, num_list)))

Extracting odd elements using filter : [1, 3, 7]
time: 4.4 ms (started: 2024-04-14 13:48:04 +00:00)

In [85]:
"""
'Reduce' is an operation that breaks down the entire process
into pair-wise operations
and uses the result from each operation, with the successive element.
"""
from functools import reduce

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(reduce(lambda a, b: a if a > b else b, num_list))

The maximum element of the list is : 7
time: 2.85 ms (started: 2024-04-14 13:49:17 +00:00)

In [89]:
max(num_list)

7

time: 8.78 ms (started: 2024-04-14 13:51:29 +00:00)

In [1]:
# All and Any Built-in Functions

In [94]:
x = (1, 2, 3, 4, 5) # tuple
x[0:3]

(1, 2, 3)

time: 6.18 ms (started: 2024-04-14 14:01:39 +00:00)

In [95]:
# True, as all items in x are greater than zero # AND - OR: x and y; x or y
all(item>0 for item in x)

True

time: 3.88 ms (started: 2024-04-14 14:01:42 +00:00)

In [96]:
# False, as all items in x are not greater than 4
all(item>4 for item in x) # comparable to AND gates; & logical operator

False

time: 4.46 ms (started: 2024-04-14 14:02:18 +00:00)

In [97]:
# True, as some items in x are greater than 4
any(item>4 for item in x) # comparable OR gates

True

time: 3.74 ms (started: 2024-04-14 14:02:32 +00:00)

In [6]:
# Additional List Operations

In [106]:
s = [1, 2, 3]
s.append(4)
print(f"First output: {s}")

s.append([3, 4])
print(f"Second output: {s}")

x = [1, 2, 3, 1, 1]
x.extend([1, 5])
print(f"Third output: {x}")

First output: [1, 2, 3, 4]
Second output: [1, 2, 3, 4, [3, 4]]
Third output: [1, 2, 3, 1, 1, 1, 5]
time: 1.24 ms (started: 2024-04-14 14:11:35 +00:00)

In [102]:
x.count(1) # Counts occurences of the item in the list
print(f"Count method output: {x.count(1)}")


x.index(3) # Returns the position of the item in the list
print(f"Index method output: {x.index(1)}")

Count method output: 4
Index method output: 0
time: 2.82 ms (started: 2024-04-14 14:09:31 +00:00)

In [107]:
print(x)
# Insertion in list
x.insert(2, -10)
print(x)

# Deletion from list
x.pop() # pops the element index i. If ‘i’ is ommited then last value popped out
print(x)

x.pop(2)
print(x)

# Removing from an item from a list
x.remove(1) # search for first occurrence of item and remove it
print(x)
# pop vs remove: pop is based on the index; remove is based on the item value

[1, 2, 3, 1, 1, 1, 5]
[1, 2, -10, 3, 1, 1, 1, 5]
[1, 2, -10, 3, 1, 1, 1]
[1, 2, 3, 1, 1, 1]
[2, 3, 1, 1, 1]
time: 1.54 ms (started: 2024-04-14 14:11:39 +00:00)

In [109]:
empty_list = [1, 2, 3]
empty_list.remove(5) # Value Error if we try to remove that is not present in the list

ValueError: list.remove(x): x not in list

time: 16.5 ms (started: 2024-04-14 14:17:04 +00:00)

In [110]:
# reverse
s = [1, 2, 3]
print(f"Original list: {s}")
s.reverse()
print(f"Reversed list:{s}")

Original list: [1, 2, 3]
Reversed list:[3, 2, 1]
time: 3.04 ms (started: 2024-04-14 14:18:40 +00:00)

In [112]:
str_val = "hello"
str_val = str_val[::-1]
print(str_val)

olleh
time: 7.97 ms (started: 2024-04-14 14:20:21 +00:00)

In [122]:
num_list = [3, 2, 4, 1]
num_list.sort(reverse=False)
print(num_list)

[1, 2, 3, 4]
time: 2.42 ms (started: 2024-04-14 14:26:01 +00:00)

In [120]:
# Sorting in Python

name_age = [ ['Brad', 20], ['Annie', 45], ['Charlie', 25] ]
print(name_age)


name_age.sort(key=lambda name: name[0]) # sort by name
print(name_age)


name_age.sort(key=lambda age: age[1]) # sort by age
print(name_age)


x = []
x = name_age.sort(key=lambda age: age[1]) # can not save the output
print(x)
# nothing is saved in x

[['Brad', 20], ['Annie', 45], ['Charlie', 25]]
[['Annie', 45], ['Brad', 20], ['Charlie', 25]]
[['Brad', 20], ['Charlie', 25], ['Annie', 45]]
None
time: 8.41 ms (started: 2024-04-14 14:24:52 +00:00)

In [123]:
# use sorted() to save outputs to another list
y = sorted(name_age, key=lambda age: age[1]) # sorted() : by age
print(y)

y = sorted(name_age, key=lambda name: name[1]) # sorted() : by name
print(y)

[['Brad', 20], ['Charlie', 25], ['Annie', 45]]
[['Brad', 20], ['Charlie', 25], ['Annie', 45]]
time: 1.28 ms (started: 2024-04-14 14:26:39 +00:00)

In [161]:
# Class and objects

class Spam():
    """
    This is a class about Spam counts
    """
    num = 100 # class variable


    def __init__(self, number = 3):
        '''
        This is a constructor - is used for initialising class variables
        '''
        self.num = number

    def imethod(self): # print instance variable
        print("imethod ", self.num)

    @classmethod
    def cmethod(cls): # print class variable
      print("cmethod ", cls.num)

time: 812 µs (started: 2024-04-14 14:56:08 +00:00)

In [162]:
s = Spam(5)
# 's' is an instance of the class Spam(). It is referred as the object of the class

time: 667 µs (started: 2024-04-14 14:56:08 +00:00)

In [163]:
s.imethod()

imethod  5
time: 759 µs (started: 2024-04-14 14:56:08 +00:00)

In [132]:
s.cmethod()

cmethod  100
time: 628 µs (started: 2024-04-14 14:44:27 +00:00)

### Ungraded Task:

Create a Calculator class in python that can add, substract, multiply and divide two numbers

In [171]:
class Calculator():

  def add(self, x, y):
    return x + y

  def substract(self, x, y):
    return x - y

  def multiply(self, x, y):
    return x * y

  def divide(self, x, y):
    return x / y

time: 893 µs (started: 2024-04-14 15:13:04 +00:00)

In [172]:
c = Calculator()

time: 539 µs (started: 2024-04-14 15:13:09 +00:00)

In [173]:
c.add(100, 80)

180

time: 13.2 ms (started: 2024-04-14 15:13:17 +00:00)

In [174]:
# Exception Handling in Python with Try and Except

# Case 1: Without exception handling
base_number = 10

for i in range(5,-1, -1):
  print(f"{base_number}/{i} = {base_number/i}")

10/5 = 2.0
10/4 = 2.5
10/3 = 3.3333333333333335
10/2 = 5.0
10/1 = 10.0

ZeroDivisionError: division by zero

time: 21.6 ms (started: 2024-04-14 15:16:29 +00:00)

In [179]:
import traceback

time: 551 µs (started: 2024-04-14 15:25:02 +00:00)

In [180]:
# @title
# Case 2: With exception handling
base_number = 10

for i in range(5,-1, -1):
  try:
    print(f"{base_number}/{i} = {base_number/i}")
  except Exception as e:
    # print(f"Encountered exception: {e}")
    # print(f"Error encountered when dividing {base_number} by {i}")
    print(traceback.format_exc())

10/5 = 2.0
10/4 = 2.5
10/3 = 3.3333333333333335
10/2 = 5.0
10/1 = 10.0
Traceback (most recent call last):
  File "<ipython-input-180-cd0c2efb7faa>", line 7, in <cell line: 5>
    print(f"{base_number}/{i} = {base_number/i}")
ZeroDivisionError: division by zero

time: 4.18 ms (started: 2024-04-14 15:25:29 +00:00)